{% extends 'includes/navbar.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>categories</title>
</head>
<body>
    <div>
        <h1>Enjoy the best games</h1>
        <div class="categories">
            <div class="category">
                <h2>Action</h2>
                <p>Action games are fast-paced and require quick reflexes.</p>
            </div>
            <div class="category">
                <h2>Adventure</h2>
                <p>Adventure games focus on exploration and puzzle-solving.</p>
            </div>
            <div class="category">
                <h2>RPG</h2>
                <p>RPGs allow players to immerse themselves in a character's story.</p>
            </div>
            <div class="category">
                <h2>Shooting</h2>
                <p>Shooting games involve combat with firearms or other ranged weapons.</p>
            </div>
        </div>
    </div>
    {%endblock%}
</body>
</html>